*{box-sizing: border-box;}
body{
 background-color: white;
}
.contenedorPrincipal{
    padding-top: 50px;
    padding-bottom: 50px;
}
.cont1{
    height: 500px;
}
.cont2{
    height: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.cont3{
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3, 150px);
    border-radius: 100px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.cont4{
    height: 500px;
}
.div1{
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.div2{
    height: auto;
    display: grid;
    justify-content: center;
    align-items: flex-start;
}
.div3{
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}
.div4{
    display: grid;
    height: auto;
}
.form-control{
    border-color:black;
}
.titulo1{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.texto{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: justify;
}
.imagen1{
    box-shadow: 8px 8px 15px;
    border-radius: 5px;
}
.imagen{
    border-radius: 20px;
}
.imagen:hover{
    transition: all 500ms ease-out;
    box-shadow: 8px 8px 15px;
    width: 150px;
    height: 150px;
}
.contacto{
    margin-bottom: 30px;
}
.enlaces{
    margin-bottom: 50px;
}
.con{
    display: grid;
    justify-content: center;
}
