/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .cabecero1{
        display: grid;
        grid-template-columns: repeat(2, 600px);
        grid-template-rows: 400px;
        justify-content: space-between;
    }
    .cabecero1-1, .cabecero1-2{
        width: auto;
        height: auto;
    }
    .cabecero2{
        display: grid;
        grid-template-columns: repeat(2, 600px);
        grid-template-rows: 500px;
        grid-template-areas: "box1 box2";
    }
    .cabecero2-1{
        grid-area: box1;
    }
    .imagen:hover{
        width: 150px;
        height: 150px;
        transition: all 500ms ease-out;
    }
    .cabecero2-2{
        grid-area: box2;
        width: auto;
        height: auto;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width:1199px) and (min-width: 992px) {
    #titulo1{
        font-size: 35px;
    }
    #titulo2{
        font-size: 35px;
    }
    .cabecero1{
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: 400px;
        justify-content: space-between;
    }
    .cabecero1-1, .cabecero1-2{
        width: auto;
        height: auto;
    }
    .cabecero2{
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: 370px;
        grid-template-areas: "box1 box2";
    }
    .cabecero2-1{
        grid-area: box1;
        height: 100px;
        width: 150px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3,120px);
        grid-template-rows: repeat(3, 120px);
        grid-template-areas: "area1 area2 area3"
                            "area4 area5 area6"
                            "area7 area8 area9";
    }
    .cabecero2-2{
        grid-area: box2;
        width: auto;
        height: auto;
    }
    #tipo1{
        font-size: 40px;
    }
    #tipo2{
       font-size: 28px;
    }
    #tipo3{
        font-size: 40px;
    }
    #tipo4{ 
        font-size: 28px;
    }
    .imagen{
        width: 95px;
        height: 95px;
    }
    .imagen:hover{
        width: 100px;
        height: 100px;
        transition: all 500ms ease-out;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) and (min-width: 768px) {
    #contenedor1{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, auto);
    }
    #titulo1, #titulo2{
        font-size: 30px;
    }
    .cabecero1{
        display: grid;
        grid-template-columns: 560px;
        grid-template-rows: repeat(2, 280px);
        grid-template-areas: "box1-1"
                             "box1-2";
        justify-content: center;
        align-content: center;
        p
        
    }
    .cabecero1-1, .cabecero1-2{
        width: auto;
        height: auto;
    }
    .cabecero1-1{
        grid-area: box1-1;
        padding-left: 40px;
    }
    .cabecero1-2{
        display: grid;
        grid-area: box1-2;
    }
    .cabecero2{
        display: grid;
        margin-top: 0px;
        grid-template-columns: 480px;
        grid-template-rows: repeat(2, 270px);
        grid-template-areas: "box1"
                             "box2";
        justify-content: center;
        justify-items: center;
        padding-top: 150px;
    }
    .cabecero2-1{
        grid-area: box2;
        height: 80px;
        width: 80px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3,120px);
        grid-template-rows: repeat(3, 120px);
        grid-template-areas: "area1 area2 area3"
                            "area4 area5 area6"
                            "area7 area8 area9";
        justify-content: center;
    }
    .cabecero2-2{
        padding-top: 0px;
        grid-area: box1;
    }
    #tipo1{
        font-size: 38px;
    }
    #tipo2{
       font-size: 26px;
    }
    #tipo3{
        font-size: 36px;
    }
    #tipo4{
        font-size: 26px;
    }
    .imagen{
        width: 90px;
        height: 90px;
    }
    .imagen:hover{
        width: 98px;
        height: 98px;
        transition: all 500ms ease-out;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) and (min-width: 600px) {
    #contenedor1{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, auto);
    }
    #titulo1, #titulo2{
        font-size: 30px;
    }
    .cabecero1{
        display: grid;
        grid-template-columns: 560px;
        grid-template-rows: repeat(2, 280px);
        grid-template-areas: "box1-1"
                             "box1-2";
        justify-content: center;
        align-content: center;
        p
        
    }
    .cabecero1-1, .cabecero1-2{
        width: auto;
        height: auto;
    }
    .cabecero1-1{
        grid-area: box1-1;
        padding-left: 40px;
    }
    .cabecero1-2{
        display: grid;
        grid-area: box1-2;
    }
    .cabecero2{
        display: grid;
        margin-top: 0px;
        grid-template-columns: 480px;
        grid-template-rows: repeat(2, 270px);
        grid-template-areas: "box1"
                             "box2";
        justify-content: center;
        justify-items: center;
        padding-top: 150px;
    }
    .cabecero2-1{
        grid-area: box2;
        height: 80px;
        width: 80px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3,120px);
        grid-template-rows: repeat(3, 120px);
        grid-template-areas: "area1 area2 area3"
                            "area4 area5 area6"
                            "area7 area8 area9";
        justify-content: center;
    }
    .cabecero2-2{
        padding-top: 0px;
        grid-area: box1;
    }
    #tipo1{
        font-size: 38px;
    }
    #tipo2{
       font-size: 26px;
    }
    #tipo3{
        font-size: 36px;
    }
    #tipo4{
        font-size: 26px;
    }
    .imagen{
        width: 90px;
        height: 90px;
    }
    .imagen:hover{
        width: 98px;
        height: 98px;
        transition: all 500ms ease-out;
    }
}
 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #contenedor1{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, auto);
    }
    #titulo1, #titulo2{
        font-size: 30px;
    }
    .cabecero1{
        display: grid;
        grid-template-columns: 560px;
        grid-template-rows: repeat(2, 280px);
        grid-template-areas: "box1-1"
                             "box1-2";
        justify-content: center;
        align-content: center;
        p
        
    }
    .cabecero1-1, .cabecero1-2{
        width: auto;
        height: auto;
    }
    .cabecero1-1{
        grid-area: box1-1;
        padding-left: 40px;
    }
    .cabecero1-2{
        display: grid;
        grid-area: box1-2;
    }
    .cabecero2{
        display: grid;
        margin-top: 0px;
        grid-template-columns: 480px;
        grid-template-rows: repeat(2, 270px);
        grid-template-areas: "box1"
                             "box2";
        justify-content: center;
        justify-items: center;
        padding-top: 150px;
    }
    .cabecero2-1{
        grid-area: box2;
        height: 80px;
        width: 80px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3,120px);
        grid-template-rows: repeat(3, 120px);
        grid-template-areas: "area1 area2 area3"
                            "area4 area5 area6"
                            "area7 area8 area9";
        justify-content: center;
    }
    .cabecero2-2{
        padding-top: 0px;
        grid-area: box1;
    }
    #tipo1{
        font-size: 38px;
    }
    #tipo2{
       font-size: 26px;
    }
    #tipo3{
        font-size: 36px;
    }
    #tipo4{
        font-size: 26px;
    }
    .imagen{
        width: 90px;
        height: 90px;
    }
    .imagen:hover{
        width: 98px;
        height: 98px;
        transition: all 500ms ease-out;
    }
}