/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cont1{
        height: auto;
    }
    .cont2{
        height: auto;
        margin-bottom: 50px;
    }
    .cont3{
        grid-area: area2;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-items: center;
    }
    .cont4{
        height: auto;
        grid-area: area1;
    }
    .div1{
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .div2{
        height: auto;
        margin-bottom: 30px;
    }
    .div3{
        height: auto;
        margin-bottom: 30px;
    }
    .div4{
        height: auto;
        margin-bottom: 30px;
    }
    .letra1{
        width: 180px;
        height: 60px;
    }
    .letra2{
        width: 90px;
        height: 60px;
    }
    .tipo1{
        width: 270px;
        height: 60px;
    }
    .tipo2{
        width: 380px;
        height: 70px;
    }
    .imagen{
        width: 80px;
        height: 80px;
    }
    .contenedorHerramientas{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "area1" 
                             "area2";

    }
    .titulo1{
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        font-weight: bold;
    }
    .texto{
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        text-align: justify;
    }
    .imagen:hover{
        transition: all 500ms ease-out;
        box-shadow: 8px 8px 15px;
        width: 90px;
        height: 90px;
    }
    .cont{
        width: 70px;
        height: 70px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .cont1{
        height: auto;
        width: auto;
    }
    .cont2{
        height: auto;
        width: auto;
        margin-bottom: 50px;
    }
    .cont3{
        grid-area: area2;
        height: auto;
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-items: center;
    }
    .cont4{
        height: auto;
        width: auto;
        grid-area: area1;
    }
    .div1{
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .div2{
        height: auto;
        margin-bottom: 30px;
    }
    .div3{
        height: auto;
        margin-bottom: 30px;
    }
    .div4{
        height: auto;
        margin-bottom: 30px;
    }
    .letra1{
        width: 180px;
        height: 60px;
    }
    .letra2{
        width: 90px;
        height: 60px;
    }
    .tipo1{
        width: 270px;
        height: 60px;
    }
    .tipo2{
        width: 380px;
        height: 70px;
    }
    .imagen{
        width: 80px;
        height: 80px;
    }
    .contenedorHerramientas{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "area1" 
                             "area2";

    }
    .titulo1{
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        font-weight: bold;
    }
    .texto{
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        text-align: justify;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px){

    .cont1{
        height: auto;
        width: auto;
    }
    .cont2{
        height: auto;
        width: auto;
        margin-bottom: 50px;
    }
    .cont3{
        grid-area: area2;
        height: auto;
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-items: center;
    }
    .cont4{
        height: auto;
        width: auto;
        grid-area: area1;
    }
    .div1{
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .div2{
        height: auto;
        width: auto;
        margin-bottom: 30px;
    }
    .div3{
        height: auto;
        margin-bottom: 30px;
    }
    .div4{
        height: auto;
        margin-bottom: 30px;
    }
    .letra1{
        width: 180px;
        height: 60px;
    }
    .letra2{
        width: 90px;
        height: 60px;
    }
    .tipo1{
        width: 270px;
        height: 60px;
    }
    .tipo2{
        width: 380px;
        height: 70px;
    }
    .imagen{
        width: 80px;
        height: 80px;
    }
    .contenedorHerramientas{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "area1" 
                             "area2";

    }
    .titulo1{
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        font-weight: bold;
    }
    .texto{
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        text-align: justify;
    }
    .imagen:hover{
        transition: all 500ms ease-out;
        box-shadow: 8px 8px 15px;
        width: 100px;
        height: 100px;
    }
}