*{box-sizing: border-box;}
body{
 background-color: white;
}
.cont1{
    height: 500px;
}
.cont2{
    height: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.cont3{
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    align-items: center;
}
.cont4{
    height: 500px;
}
.div1{
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.div2{
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.div3{
    height: 250px;
}
.div4{
    height: 250px;
}
