/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (min-width: 100px){
    body{
        background-color: rgb(231, 182, 182);
    }
    .contenedorPrincipal{
        display: grid;
        grid-template-columns: 600px;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "area1"
                             "area2"
                             "area3"
                             "area4"
                             "area5";
    }
    .contenedor1{
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "area1"
                             "area2";
    }
    .contenedor1-1{
        grid-area: area1;
    }
    #tipo1{
    }
    #tipo2{
    }
    .contenedor1-2{
        grid-area: area2;
    }
    .contenedor2{
        display: grid;
        grid-template-rows: repeat(2, auto);
        margin-top: 100px;
        grid-template-areas: "area1" 
                             "area2";
    }
    .contenedor2-1{
        grid-area: area2;
        width: auto;
        height: auto;
    }
    .contenedor2-2{
        grid-area: area1;
        width: auto;
        height: auto;
    }
    .formulario{
        grid-area: area5;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}