/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cont1{
        height: auto;
        width: auto;
    }
    .cont2{
        width: auto;
        height: auto;
    }
    .cont3{
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-items: center;
    }
    .cont4{
        width: auto;
        height: auto;
    }
    .div1{
        height: auto;
    }
    .div2{
        height: auto;
    }
    .div3{
        height: auto;
    }
    .div4{
        height: auto;
    }
    .letra1{
        width: 180px;
        height: 60px;
    }
    .letra2{
        width: 70px;
        height: 60px;
    }
    .tipo1{
        width: 270px;
        height: 60px;
    }
    .tipo2{
        width: 380px;
        height: 70px;
    }
    .imagen{
        width: 80px;
        height: 80px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}